<div class="featured">
  <h2 class="section_title">Destaques</h2>
  <figure>
    <img
      class="main_image"
      src="../assets/zelda-breath-wild-capa.png"
      alt="Zelda Breath of The Wild Capa"
    />
    <img class="small_image" src="../assets/zelda1.jpg" alt="Zelda Screenshot" />
    <img class="small_image" src="../assets/zelda1.jpg" alt="Zelda Screenshot" />
    <img class="small_image" src="../assets/zelda1.jpg" alt="Zelda Screenshot" />
    <img class="small_image" src="../assets/zelda1.jpg" alt="Zelda Screenshot" />
  </figure>
</div>
