.game-form-container{
  display: grid;
  grid-template-areas: "image title"
              "image form";
  grid-column-gap: 10px;
  .section_title{
    grid-area: title;
  }

  .image-preview {
    grid-area: image;
  }

  #game-form{
    grid-area: form;
  }
}
